openapi: 3.0.0
info:
  version: v0.3.9
  title: DECODE Encrypted Datastore JSON API
  contact:
    email: support@thingful.net
    url: 'https://decodeproject.eu'
  license:
    name: GNU Affero General Public License
    url: 'https://www.gnu.org/licenses/agpl.html'
  x-logo:
    url: 'https://decodeproject.eu/sites/default/files/favicon_13.png'
  description: >
    This is some documentation for the Encrypted Datastore component developed
    as part of the IoT pilot

    for [DECODE](https://decodeproject.eu).


    # Introduction

    The purpose of this component is to provide a service that allows encrypted
    events generated by IoT devices to be stored and queried against.


    The server implementation was created using a tool called
    [Twirp](https://twitchtv.github.io/twirp/),

    which  uses [Protocol
    Buffers](https://developers.google.com/protocol-buffers/) in order to

    specify an RPC style interface to the service. For some programming
    languages we are able to generate a client directly from this

    definition, however for clients where that tooling isn't yet available, this
    document defines the JSON over

    HTTP interface that the service also exposes.


    Note that this RPC interface is definitely not RESTful in structure, rather
    all requests are constructed and sent as POST requests to the server.


    If you are developing a client application in Go or Python, you should use
    the generated client libraries:


    * Go - https://github.com/thingful/twirp-datastore-go

    * Python - https://pypi.org/project/decode-datastore-client/
tags:
  - name: Read Events
    description: Operations to read data from the datastore
  - name: Write Events
    description: Operations to write data from the datastore
servers:
  - url: 'https://datastore.decodeproject.eu/twirp/decode.iot.datastore.Datastore/'
