openapi: 3.0.0
info:
  version: 1.0.0
  title: DECODE Datastore JSON API
  contact:
    email: support@thingful.net
    url: 'https://www.thingful.net/contact'
  license:
    name: GNU Affero General Public License
    url: 'https://www.gnu.org/licenses/agpl.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
  description: >
    This is some documentation for the Encrypted datastore component developed
    as part of the IoT pilot

    for [DECODE](https://decodeproject.eu).


    # Introduction

    The server implementation was created using a tool called
    [Twirp](https://twitchtv.github.io/twirp/),

    which by uses [Protocol
    Buffers](https://developers.google.com/protocol-buffers/) in order to

    specify the interface. For some programming languages we are able to
    generate a client directly from this

    definition, however for clients where that tooling isn't yet available, this
    document defines the JSON over

    HTTP interface that the service also exposes.


    If you are developing a client application in Go or Python, you should use
    the generated client libraries:


    * Go - https://github.com/thingful/twirp-datastore-go

    * Python - https://pypi.org/project/decode-datastore-client/
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  - name: Read
    description: Operations to read data from the datastore
  - name: User
    description: Operations to write data from the datastore
servers:
  - url: 'https://datastore.decodeproject.eu/twirp/decode.iot.datastore.Datastore/'
